---
import "../styles/style.scss";
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";

const logo = "/assets/images/global/logo.png";
const logoAlt = "Ka Pā Hula O Alohilani（カ・パー・フラ・オ・アロヒラニ）";
const {
  title = "Ka Pā Hula O Alohilani｜練馬区・中野区のフラダンス教室",
  ogType = "website",
  ogTitle = title,
  description = "練馬区（江古田駅・練馬駅）・中野区（中野駅）を中心に活動するフラダンス教室「Ka Pā Hula O Alohilani（アロヒラニ）」。子どもから大人まで、初心者の方も歓迎しています。フラを通して自分らしい時間を楽しみませんか。。",
  ogDescription = description,
  ogImage = "https://alohilani-hula.com/ogp.png",
  noIndex = false,
  jsonLd = [],
} = Astro.props;

const jsonLdList = Array.isArray(jsonLd)
  ? jsonLd
  : jsonLd
    ? [jsonLd]
    : [];
---

<!DOCTYPE html>
<html lang="ja" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <meta name="description" content={description}>

    { noIndex && <meta name="robots" content="noindex, nofollow" /> }

    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/android-chrome-256x256.png">

    <!-- ogp -->
    <meta property="og:site_name" content="Ka Pā Hula O Alohilani｜練馬区・中野区のフラダンス教室">
    <meta property="og:url" content={`https://alohilani-hula.com${Astro.url.pathname}`} />
    <meta property="og:type" content={ogType}>
    <meta property="og:title" content={ogTitle}>
    <meta property="og:description" content={ogDescription}>
    <meta property="og:image" content={ogImage}>
    <meta property="og:locale" content="ja_JP">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content={ogDescription}>
    <meta name="twitter:image:src" content={ogImage}>

    <!-- JSON-LD -->
    {jsonLdList.map((item) => (
      <script type="application/ld+json" set:html={item}></script>
    ))}
  </head>

  <body id="body">
    <Header
      logo={logo}
      logoAlt={logoAlt}
    />

    <slot />

    <Footer
      logo={logo}
      logoAlt={logoAlt}
    />
  </body>
</html>
